.box {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    /* margin-left: 50px; */
    background-color: antiquewhite;

    /* animation: myanimation 10s infinite; */
    animation-name: myanimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
    animation-timing-function: cubic-bezier();
}


@keyframes myanimation {
    0% {
        background-color: blue;
        /* transform: scale(1.5); */
        /* transform: translateX(0px); */
        transform: translate(0px,0px);
    }

    25% {
        background-color: aqua;
        transform: translate(1000px,0px);
    }

    50% {
        background-color: yellow;
        /* transform: scale(0.8); */
        /* transform: translateX(500px); */
        transform: translate(1000px,400px);
    }

    75% {
        background-color: green;
        transform: translate(0px,400px);
    }

    /* 100% {
        background-color: red;
        transform: translate(0px,0px);
    } */
}